classifier_training/patches/all_patches.npy
classifier_training/patches/all_labels.npy
classifier_training/patches/patches_negative.npy
classifier_training/patches/patches_positive.npy
/navigator/csd_images
/navigator/csd_labels
